
<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a routerLink = ""><img src="../../assets/img/logos/logomot.jpg "></a>
            </div>
            <div class="header-right">
                
                <a routerLink ="info">
                    <img src="../../assets/img/icons/search.png" alt="" class="search-trigger">
                </a>
                <a routerLink ="info">
                    <img src="../../assets/img/icons/man.png" alt="">
                </a>
                <a routerLink ="shoppingcart">
                    <img src="../../assets/img/icons/bag.png" alt="">
                </a>
            </div>
            <div class="user-access">
                <a routerLink ="dangky">Đăng ký</a>
                <a routerLink ="dangnhap" class="in">Đăng nhập</a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a routerLink="nu">NỮ</a>
                        <ul class="sub-menu">
                            <li><a routerLink ="somi">SƠ MI</a></li>
                            <li><a routerLink ="vay">VÁY</a></li>
                            <li><a routerLink ="jeans">JEANS</a></li>
                        </ul></li>
                    <li><a routerLink ="betrai">BÉ TRAI</a></li>
                    <li><a routerLink ="begai">BÉ GÁI</a></li>
                    <li><a routerLink ="sale">SALE</a></li>
                    <li><a routerLink ="lienhe">LIÊN HỆ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="../../assets/img/icons/delivery.png" alt="">
                    <p>Miễn phí ship cho đơn hàng trên 499.000đ</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="../../assets/img/icons/voucher.png" alt="">
                    <p>Giảm giá 20% cho học sinh</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                <img src="../../assets/img/icons/sales.png" alt="">
                <p>Giảm 30% khi mua áo phông</p>
            </div>
            </div>
        </div>
    </div>
</div>
