
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h4>QUẦN ÁO BÉ TRAI</h4>
                    <a routerLink ="dangky" >áo phông</a>
                    <a href="#">áo khoác</a>
                    <a href="#">đồ bộ</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories-filter">                       
                        <div class="cf-right">
                            <span>20 Products</span>
                            <a href="#">2</a>
                            <a href="#" class="active">4</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp1s.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp1s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp1s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp2.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp4.jpg" alt="">
                                <div class="p-status">149.000</div>
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé trai/sp4s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé trai/sp4s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp3.jpg" alt="">
                                <div class="p-status">149.000</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé trai/sp6s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé trai</h6>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp7.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp7s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp7s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé trai/sp6.jpg" alt="">
                        <div class="p-status">149.000</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé trai/sp6s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé trai/sp6s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé trai</h6>
                        </a>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="more-product">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
