<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h4>SẢN PHẨM GIẢM GIÁ</h4>
                    <a href="#">NỮ</a>
                    <a href="#">Bé trai</a>
                    <a href="#">Bé gái</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="../../assets/img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container">
        <div class="categories-controls">
            <div class="row">
                <div class="col-lg-12">
                    <div class="categories-filter">                       
                        <div class="cf-right">
                            <span>20 Products</span>
                            <a href="#">2</a>
                            <a href="#" class="active">4</a>
                            <a href="#">6</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp2.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp2s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp2s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                           
                            
                       
                        </a>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp1.jpg" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>                          <p>99.000</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                                <div class="p-status sale">sale</div>
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé gái/sp12s.jpg" alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>                          <p>99.000</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp3.jpg" alt="">
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>                          <p>99.000</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="../../assets/img/Bea/Bé gái/sp5.jpg" alt="">
                                <div class="hover-icon">
                                    <a href="../../assets/img/Bea/Bé gái/sp5s.jpg" class="pop-up"><img
                                            src="../../assets/img/Bea/Bé gái/sp5s.jpg" alt=""></a>
                                </div>
                                <div class="p-status sale">sale</div>
                            </figure>
                            <div class="product-text">
                                <a href="#">
                                    <h6>bộ bé gái</h6>                          <p>99.000</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">
                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="../../assets/img/Bea/Bé gái/sp12.jpg" alt="">
                        <div class="p-status sale">sale</div>
                        <div class="hover-icon">
                            <a href="../../assets/img/Bea/Bé gái/sp12s.jpg" class="pop-up"><img src="../../assets/img/Bea/Bé gái/sp12s.jpg"
                                    alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="#">

                            <h6>bộ bé gái</h6>                          <p>99.000</p>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
