<section class="features-section spad">
<div class="features-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-box-item first-box">
                            <img src="../../assets/img/Bea/Sơ mi nữ/spmoi.jpg" alt="">
                            <div class="box-text">
                                <span class="trend-alert">Sản phẩm mới</span>
                                <a href="#" class="primary-btn">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-box-item second-box">
                            <a href = "#"><img src="../../assets/img/Bea/Váy/spbanchay1.jpg" alt=""></a>
                            <div class="box-text">
                                <span class="trend-alert">Sản phẩm bán chạy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-box-item large-box">
                    <img src="../../assets/img/Bea/Phông nữ/spbanchay (2).jpg " alt="">
                    <div class="box-text">
                        <div class="trend-alert">Sản phẩm yêu thích</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-ads">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-features-ads first">
                    <img src="../../assets/img/icons/f-delivery.png" alt="">
                    <h4>Free shipping</h4>
                    <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                        esuada aliquet libero viverra cursus. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads second">
                    <img src="../../assets/img/icons/coin.png" alt="">
                    <h4>100% Money back </h4>
                    <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads">
                    <img src="../../assets/img/icons/chat.png" alt="">
                    <h4>Online support 24/7</h4>
                    <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus. </p>
                </div>
            </div>
        </div>
    </div>
</div>
